
@{
    ViewBag.Title = "Inicio";
}

<h2>Bienvenido, Elija el modulo al que desea ir</h2>
<a href="~/Categorias/Mantenimiento"><button type="button" class="btn btn-primary btn-lg btn-block">Modulo Mantenimiento</button></a>
<br />
<a href="~/Categorias/Procesos"><button type="button" class="btn btn-primary btn-lg btn-block">Modulo Procesos</button></a>
<br />
<a href="~/Informes/Inicio"><button type="button" class="btn btn-primary btn-lg btn-block">Modulo Informes</button></a>

