
@{
    ViewBag.Title = "Mantenimiento";
}
<h2>Mantenimiento</h2>

<a href="~/Empleados/Inicio"><button type="button" class="btn btn-primary btn-lg">Empleados</button></a>
<a href="~/Departamentos/Inicio"><button type="button" class="btn btn-primary btn-lg">Departamentos</button></a>
<a href="~/Cargos/Inicio"><button type="button" class="btn btn-primary btn-lg">Cargos</button></a>


