
@{
    ViewBag.Title = "Procesos";
}

<h2>Procesos</h2>

<a href="~/Nominas/Inicio"><button type="button" class="btn btn-primary btn-lg">Calcular Nomina</button></a>
<a href="~/Salidas/Inicio"><button type="button" class="btn btn-primary btn-lg">Salida de Empleados</button></a>
<a href="~/Vacaciones/Inicio"><button type="button" class="btn btn-primary btn-lg">Vacaciones</button></a>
<a href="~/Permisos/Inicio"><button type="button" class="btn btn-primary btn-lg">Permisos</button></a>
<a href="~/Licencias/Inicio"><button type="button" class="btn btn-primary btn-lg">Licencias</button></a>
